@{
    ViewData["Title"] = "Account Setttings";
    // ViewData["CustomCss"] = "~/css/authViews.css";
}

<div class="text-center my-5 px-3 container">
    <h1>Zeus Gym - Account Setttings</h1>





</div>
