@model gym_management_system.Models.GymMember

@{
    ViewData["Title"] = "Member Details";
    // ViewData["CustomCss"] = "~/css/authViews.css";
}

<div class="text-center my-5 px-3 container">
    <h1>Zeus Gym - Member Details</h1>

    <section class="my-5 ">
        Some gym member details
    </section>
            
</div>
