@model List<gym_management_system.Models.GymMember>

@{
    ViewData["Title"] = "Members List";
    // ViewData["CustomCss"] = "~/css/authViews.css";
}

<div class="text-center my-5 px-3 container">
    <h1>Zeus Gym - Members List</h1>
    
    @* add a button section *@
    <section class="">
        @* add button *@
        <a asp-action="Create" asp-controller="Member" class="btn btn-primary custom-btn-primary">
            Add Member
        </a>
    </section>





</div>
